.main_color{
    color: #fff;
    position: relative;
    z-index: 100;
    overflow-x: hidden;
}
.section
{
    padding: 80px 0;
}
.section_title
{
    margin-bottom: 60px;
}
.about_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    z-index: 100;
}
.about_content .about_title
{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 5px;
}
.about_content .about_title span
{
    color: #26A8FE;
}
.about_content p
{
    font-size: 2rem;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
    margin: 0px;

}
.about_content ul
{  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
}
.about_content ul li
{
    width: 100%;
    float: left;
    margin-top: 5px;
}
.about_content .single_info{
    display: flex;
    align-items: center;
}
.about_content .single_info .info_icon
{   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 18px;
    text-align: center;
}
.info_i
{
    font-size: 2.5rem;
    display: inline-block;
    color: #fff;
}
.about_content .single_info .info_text
{
    padding-left: 15px;
}
.about_content .single_info .info_text p span
{
    color: var(--black-900);
    font-weight: 500;
}


.text_left h4
{
    font-size: 16px;
    padding-top: 15px;
    font-weight: 600;
}
.skillSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.skill{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem; */
}
.subject{
    font-size: 1.7rem;
    color: #fff;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.about_content ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.download_cv{
    width: 100%;
    text-decoration: none;
    font-size: 2.2rem;
    color: #fff;
    background-color: #26A8FE;
    padding: 0.7rem 1.4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download_cv:hover{
    background-color: transparent;
    border: 1px solid #26A8FE;
    color: #fff;
}
@media (max-width:864px){
    .section{
        width: 90%;
    }
}