.work_m{
  position: relative;
  z-index: 100;
  color: #fff;

}
.progress {
    padding-top: 5rem;
    text-align: center;
    color: orange;
    font-size: 3.6rem;
    padding-bottom: 3rem;

}
.esp_card{
   padding-top: 2rem;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 100;
}
.exp_card_sticky{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap:5rem; 

}

.wrapper_left {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

}
.wrapper_right {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;

} 

.exp_main_card_left{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.exp_main_card_right{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.heading_Container_left{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

}
.heading_Container_right{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.headingh1{
   font-size: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   color: #26A8FE;
}
.headingp{
    font-size: 2rem;
    color: #fff;
}
.textContainer_right {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: right;

}
.textContainer_left{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
}    
.textContainer h2 {
        font-size: 5rem;
}
      
.textcp {
        color: #fff;
        font-size: 20px;

}
.textContainer button {
        background-color: orange;
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        cursor: pointer;
}
@media (max-width:1024px){
  .textContainer_right {
    width: 100%;

}
.textContainer_left{
width: 100%;
} 

}
@media (max-width:740px){
  .exp_main_card_left{
    width: 100%;
  }
  .exp_main_card_right{
    width: 100%;
  }
}