@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Poppins:wght@100;300;400;500;900&family=VT323&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    scroll-behavior: smooth;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}

.app{
    width: 100%;
    overflow: hidden;
}
.progress-bar {
    position: fixed;
    top: 4.5rem;
    left: 0rem;
    right: 0rem;
    height: 5px;
    background: #26A8FE;
    transform-origin: 0%;
    z-index: 999;
  }
.cursor{
    width: 25px;
    height: 25px;
    background-image: url("./assets/airflow.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top:5.5rem;
    left: 0;
    z-index: 1000;
    transform-origin:center ;
}

a.active{
    color: #26A8FE;
 }

.lg-react-element {
    column-count: 3;
    column-gap: 10px;
}
